<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>
    <header id="header" class="header">
        <div class="container header-container">
            <div class="header-navigation">
                <a href="../index.html" class="header-link">
                    <svg class="header-logo" id="icon-logo" width="24" height="24">
                        <use href="../img/symbol-defs.svg#icon-logo"></use>
                    </svg>
                    <svg class="header-logo" id="" width="77" height="14">
                        <use href=""></use>
                    </svg>
                </a>
            </div>
            <div class="header-block">
                <div class="header-switcher">
                    <input type="checkbox" id="theme-switch" class="header-switch" width="40" height="20" />
                    <label for="theme-switch" class="header-switch-label"></label>
                </div>
                <button type="button" class="btn-burger">
                    
                </button>
            </div>
        </div>
    </header>
</body>

</html>