<header id="header" class="header">
        <div class="container header-container">
            <div class="header-navigation">
                <a href="./index.html" class="header-link">
                    <svg class="header-logo" id="icon-logotip" width="24" height="24">
                        <use href="./img/symbol-defs.svg#icon-logo"></use>
                    </svg>
                    <svg class="header-logo-two" id="icon-Bookshelf" width="77" height="14">
                        <use href="./img/symbol-defs.svg#icon-Bookshelf"></use>
                    </svg>
                </a>
            </div>
            <div class="header-block">
                <div class="header-switcher">
                    <input type="checkbox" id="theme-switch" class="header-switch" width="40" height="20" />
                    <label for="theme-switch" class="header-switch-label"></label>
                </div>
                <a href="" class="header-link">
                    <svg class="btn-burger-icon" id="icon-align-left" width="28" height="28">
                        <use href="./img/symbol-defs.svg#icon-align-left"></use>
                    </svg>
                </a>
            </div>
        </div>
    </header>