<section class="backdrop">
  <div class="burg-cont">
    <nav class="modal-navigation">
      <a class="burger-home-btn" href="./index.html">HOME</a>
      <a class="burger-shop-list" href="./shopinglist.html"
        >SHOPPING LIST
        <svg
          class="modal-shoping-icon"
          id="icon-uil_cart"
          width="20"
          height="20"
        >
          <use href="./img/noptimizesprite.svg#icon-uil_cart"></use>
        </svg>
      </a>
    </nav>
    <img src="./img/bgburger.png" alt="books" class="back-img-burgermenu" />
  </div>
</section>

<!-- Код Богдана -->
<!-- <nav>
        <ul>
          <li>
            <a href="../index.html" class="burger-home-btn">Home</a>
          </li>
          <li>
            <div class="shopinglist-container">
              <a href="./partials/shopinglist.html" class="burger-list-btn"
                >shopinglist<span class="list-icon">
                  <svg
                    class="burger-img-btn"
                    id="icon-uil_cart"
                    width="20"
                    height="20"
                  >
                    <use href="./img/noptimizesprite.svg#icon-uil_cart"></use>
                  </svg> </span
              ></a>
            </div>
          </li>
        </ul>
      </nav> -->
