<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <load src="./header.html" />
    <section class="shopinglist-section ">
    <div class="container">
    <load src="./support.html" />

    <h2 class="main-category-title title-shopping">
      Shopping <span class="main-category-title-span">List</span>
    </h2>
    <div class="box-bookslist emptyShoppingList">
      <p class="book-list">
        This page is empty, add some books and proceed to order.
      </p>
      <img
        class="bookslist"
        src="../img/bookslist.png"
        alt="empty cart"
        width="300"
        height="300"
      />
    </div>
    <div class="shopping-list-wrap">
      <ul class="shopping-list" id="shopping-list"></ul>
    </div>
  </div>
  </section>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/shoppingListRender.js"></script>
  </body>
</html>
