<div class="support">
  <div class="support-container ">
    <div class="support-div-title">
      <h3 class="support-title">Support Ukraine</h3>
      <svg class="support-svg-title">
        <use href="./img/noptimizesprite.svg#icon-trizub"></use>
      </svg>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper js-support-list"></div>
      <div class="swiper-pagination"></div>
    </div>
    <button class="support-btn swiper-button-next" aria-label="Scroll down">
      <svg class="support-btn-svg">
        <use href="./img/symbol-defs.svg#icon-fi-rr-small-down"></use>
      </svg>
    </button>
  </div>
</div>
