<section class="section" id="categories">
  <div class="categories__block">
    <ul class="categories__list" id="scrollableList">
      <li class="categories__item selected" data-category="all categories">
        <a href="" class="tab-link">All categories</a>
      </li>
      <li class="categories__item" data-category="Graphic Books and Manga">
        <a href="" class="tab-link">Graphic Books and Manga</a>
      </li>
      <li class="categories__item" data-category="Paperback Nonfiction">
        <a href="" class="tab-link">Paperback Nonfiction</a>
      </li>
      <li
        class="categories__item"
        data-category="Middle Grade Paperback Monthly"
      >
        <a href="" class="tab-link">Middle Grade Paperback Monthly</a>
      </li>
      <li
        class="categories__item"
        data-category="Advice How-To and Miscellaneous"
      >
        <a href="" class="tab-link">Advice How-To and Miscellaneous</a>
      </li>
      <li
        class="categories__item"
        data-category="Combined Print and E-Book Nonfiction"
      >
        <a href="" class="tab-link">Combined Print and E-Book Nonfiction</a>
      </li>
      <li class="categories__item" data-category="Series Books">
        <a href="" class="tab-link">Series Books</a>
      </li>
      <li class="categories__item" data-category="Picture Books">
        <a href="" class="tab-link">Picture Books</a>
      </li>
      <li
        class="categories__item"
        data-category="Children's Middle Grade Hardcover"
      >
        <a href="" class="tab-link">Children's Middle Grade Hardcover</a>
      </li>
      <li class="categories__item" data-category="Audio Nonfiction">
        <a href="" class="tab-link">Audio Nonfiction</a>
      </li>
      <li
        class="categories__item"
        data-category="Young Adult Paperback Monthly"
      >
        <a href="" class="tab-link">Young Adult Paperback Monthly</a>
      </li>
      <li class="categories__item" data-category="Hardcover Nonfiction">
        <a href="" class="tab-link">Hardcover Nonfiction</a>
      </li>
      <li class="categories__item" data-category="Young Adult Hardcover">
        <a href="" class="tab-link">Young Adult Hardcover</a>
      </li>
      <li class="categories__item" data-category="Trade Fiction Paperback">
        <a href="" class="tab-link">Trade Fiction Paperback</a>
      </li>
      <li class="categories__item" data-category="Hardcover Fiction">
        <a href="" class="tab-link">Hardcover Fiction</a>
      </li>
      <li class="categories__item" data-category="Audio Fiction">
        <a href="" class="tab-link">Audio Fiction</a>
      </li>
      <li
        class="categories__item"
        data-category="Combined Print and E-Book Fiction"
      >
        <a href="" class="tab-link">Combined Print and E-Book Fiction</a>
      </li>
      <li class="categories__item" data-category="Mass Market Monthly">
        <a href="" class="tab-link">Mass Market Monthly</a>
      </li>
      <li class="categories__item" data-category="Business Books">
        <a href="" class="tab-link">Business Books</a>
      </li>
    </ul>
  </div>
</section>
