<section class="section" id="categories">
  <div class="categories__block container">
    <ul class="categories__list" id="scrollableList">
      <li class="categories__item" data-category="all categories">
        All categories
      </li>
      <li class="categories__item" data-category="Graphic Books and Manga">
        Graphic Books and Manga
      </li>
      <li class="categories__item" data-category="Paperback Nonfiction">
        Paperback Nonfiction
      </li>
      <li
        class="categories__item"
        data-category="Middle Grade Paperback Monthly"
      >
        Middle Grade Paperback Monthly
      </li>
      <li
        class="categories__item"
        data-category="Advice How-To and Miscellaneous"
      >
        Advice How-To and Miscellaneous
      </li>
      <li
        class="categories__item"
        data-category="Combined Print and E-Book Nonfiction"
      >
        Combined Print and E-Book Nonfiction
      </li>
      <li class="categories__item" data-category="Series Books">
        Series Books
      </li>
      <li class="categories__item" data-category="Picture Books">
        Picture Books
      </li>
      <li
        class="categories__item"
        data-category="Children's Middle Grade Hardcover"
      >
        Children's Middle Grade Hardcover
      </li>
      <li class="categories__item" data-category="Audio Nonfiction">
        Audio Nonfiction
      </li>
      <li
        class="categories__item"
        data-category="Young Adult Paperback Monthly"
      >
        Young Adult Paperback Monthly
      </li>
      <li class="categories__item" data-category="Hardcover Nonfiction">
        Hardcover Nonfiction
      </li>
      <li class="categories__item" data-category="Young Adult Hardcover">
        Young Adult Hardcover
      </li>
      <li class="categories__item" data-category="Trade Fiction Paperback">
        Trade Fiction Paperback
      </li>
      <li class="categories__item" data-category="Hardcover Fiction">
        Hardcover Fiction
      </li>
      <li class="categories__item" data-category="Audio Fiction">
        Audio Fiction
      </li>
      <li
        class="categories__item"
        data-category="Combined Print and E-Book Fiction"
      >
        Combined Print and E-Book Fiction
      </li>
      <li class="categories__item" data-category="Mass Market Monthly">
        Mass Market Monthly
      </li>
      <li class="categories__item" data-category="Business Books">
        Business Books
      </li>
    </ul>
  </div>
</section>
