<section class="section" id="categories">
  <div class="categories__block">
    <ul class="categories__list" id="scrollableList">
      <li
        class="categories__item selected noted"
        data-category="all categories"
      >
        <a href="">All categories</a>
      </li>
      <li class="categories__item" data-category="Graphic Books and Manga">
        <a href="">Graphic Books and Manga</a>
      </li>
      <li class="categories__item" data-category="Paperback Nonfiction">
        <a href="">Paperback Nonfiction</a>
      </li>
      <li
        class="categories__item"
        data-category="Middle Grade Paperback Monthly"
      >
        <a href="">Middle Grade Paperback Monthly</a>
      </li>
      <li
        class="categories__item"
        data-category="Advice How-To and Miscellaneous"
      >
        <a href="">Advice How-To and Miscellaneous</a>
      </li>
      <li
        class="categories__item"
        data-category="Combined Print and E-Book Nonfiction"
      >
        <a href="">Combined Print and E-Book Nonfiction</a>
      </li>
      <li class="categories__item" data-category="Series Books">
        <a href="">Series Books</a>
      </li>
      <li class="categories__item" data-category="Picture Books">
        <a href="">Picture Books</a>
      </li>
      <li
        class="categories__item"
        data-category="Children's Middle Grade Hardcover"
      >
        <a href="">Children's Middle Grade Hardcover</a>
      </li>
      <li class="categories__item" data-category="Audio Nonfiction">
        <a href="">Audio Nonfiction</a>
      </li>
      <li
        class="categories__item"
        data-category="Young Adult Paperback Monthly"
      >
        <a href="">Young Adult Paperback Monthly</a>
      </li>
      <li class="categories__item" data-category="Hardcover Nonfiction">
        <a href="">Hardcover Nonfiction</a>
      </li>
      <li class="categories__item" data-category="Young Adult Hardcover">
        <a href="">Young Adult Hardcover</a>
      </li>
      <li class="categories__item" data-category="Trade Fiction Paperback">
        <a href="">Trade Fiction Paperback</a>
      </li>
      <li class="categories__item" data-category="Hardcover Fiction">
        <a href="">Hardcover Fiction</a>
      </li>
      <li class="categories__item" data-category="Audio Fiction">
        <a href="">Audio Fiction</a>
      </li>
      <li
        class="categories__item"
        data-category="Combined Print and E-Book Fiction"
      >
        <a href="">Combined Print and E-Book Fiction</a>
      </li>
      <li class="categories__item" data-category="Mass Market Monthly">
        <a href="">Mass Market Monthly</a>
      </li>
      <li class="categories__item" data-category="Business Books">
        <a href="">Business Books</a>
      </li>
    </ul>
  </div>
</section>
