@media (max-width: 768px) {
  .categories__list {
    max-width: 325px;
    display: flex;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: #11111199;
    flex-direction: column;
    gap: 24px;
    margin: 40px 0;
  }

  .categories__item {
    cursor: pointer;
  }

  #scrollableList {
    max-height: 228px;
    overflow-y: auto;
  }
}

@media (min-width: 769px) {
  .categories__list {
    max-width: 337px;
    display: flex;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: #11111199;
    flex-direction: column;
    gap: 32px;
    margin: 40px 32px 100px 0;
  }

  .categories__item {
    cursor: pointer;
  }

  #scrollableList {
    max-height: 413px;
    overflow-y: auto;
  }
}

@media (min-width: 1280px) {
  .categories__list {
    max-width: 337px;
    margin: 40px 40px 86px 0;
  }
}
.categories__item.selected {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: left;

  color: #4f2ee8;
}
