/* .burger-menu-modal-content {
  margin-top: -100px;
}

.burger-menu-modal-content nav ul {
  list-style-type: none;
  padding: 0;
}

.burger-menu-modal-content nav ul li {
  margin-bottom: 10px;
}

.burger-menu-modal-content nav ul li a {
  text-decoration: none;
}

.burger-menu-modal {
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
} */

/* .burger-home-btn {
  border-radius: 36px;
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  background: #eac645;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}

.burger-list-btn {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
}

.shopinglist-container {
  display: flex;
}

.list-icon {
  vertical-align: middle;
} */

.backdrop-burger {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 64px;
  z-index: 999;
  padding: 0;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burg-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4f2ee8;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 172px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
}

.modal-navigation {
  width: 118px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  margin: 0 auto;
}

.modal-shoping-icon {
  fill: #fff;
}

.burger-menu-button {
  border: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.burger-menu-button:hover,
.burger-menu-button:focus {
  stroke: #4f2ee8;
  transition: fill 0.3s;
}

.burger-home-btn {
  border-radius: 36px;
  padding: 8px 16px;
  width: 72px;
  background-color: #eac645;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.burger-shop-list {
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
}

.burger-shop-list:hover,
.burger-shop-list:focus {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #111;
  border-radius: 36px;
  padding: 8px 16px;
  width: 156px;
  height: 34px;
  background: #eac645;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.burger-home-btn:active,
.burger-shop-list:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.burger-shop-list:hover use,
.burger-shop-list:focus use {
  fill: #111;
  stroke: #111;
}

.back-img-burgermenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.is-open-burger {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: hidden;
}

.modal-open-burger {
  overflow: hidden;
}

.btn-burger-icon:hover {
  fill: blue; /* Синій колір при наведенні */
}
