.tui-page-btn {
  width: 44px !important;
  height: 44px !important;
  border-radius: 50px !important;
  font-family: sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 1.22 !important;
  color: #fff;
  padding: 10px !important;
}

.tui-is-selected {
<<<<<<< Updated upstream
  background-color: #111 !important;
  padding-left: 10px;
  padding-right: 10px;
=======
  /* background-color: #111 !important; */
>>>>>>> Stashed changes
}

/* .tui-page-btn {
  padding: 10px !important;
  align-items: center !important;
} */

.tui-first {
  margin-right: 5px !important;
}

.tui-prev {
  margin-right: 14px !important;
}

.tui-next {
  margin-left: 14px !important;
}

.tui-last {
<<<<<<< Updated upstream
  margin-left: 8px !important;
}
.tui-first, .tui-prev, .tui-next, .tui-last{
background-color: goldenrod;
=======
  background-color: #eac645 !important;
>>>>>>> Stashed changes
}

.tui-first-child {
  margin-right: 8px !important;
}

<<<<<<< Updated upstream
.tui-last-child {
  margin-left: 8px !important;
}

.tui-is-disabled{
    background-color: #111;
}
=======
.tui-is-disabled {
  background-color: #111 !important;
}

.hidden {
  display: none;
}

.tui-pagination {
  height: 44px !important;
  margin-top: 0 !important;
  margin-bottom: 40px !important;
}

/* html.dark-mode .tui-pagination .tui-page-btn:hover {
  background-color: #111;
} */

.tui-page-btn {
  margin-right: 8px;
  border: 1px solid #111 !important;
}

/* html.dark-theme .tui-pagination .tui-page-btn {
  background-color: #fff;
  border: 1px solid #fff !important;
} */

.tui-pagination .tui-prev,
.tui-pagination .tui-last-child {
  margin-right: 14px !important;
}

.tui-pagination .tui-next {
  margin-left: 0 !important;
  border: 1px solid #111 !important;
}

.tui-pagination .tui-last {
  margin-right: 0 !important;
  border: 1px solid #111 !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff !important;
  background: #111 !important;
  /* border-color: #111 !important; */
}

/* html.dark-theme .tui-pagination .tui-is-selected,
html.dark-theme .tui-pagination strong {
  background: #fff !important;
  border-color: #fff !important;
} */

.tui-first,
.tui-prev,
.tui-next,
.tui-last {
  background: #eac645;
}

.tui-is-disabled.tui-first,
.tui-is-disabled.tui-prev,
.tui-is-disabled.tui-next,
.tui-is-disabled.tui-last,
.tui-is-disabled.tui-first:not([disabled]):hover,
.tui-is-disabled.tui-prev:not([disabled]):hover,
.tui-is-disabled.tui-next:not([disabled]):hover,
.tui-is-disabled.tui-last:not([disabled]):hover {
  background: #111;
  cursor: pointer;
}

.tui-ico-prev .tui-ico-next .tui-ico-first .tui-ico-last {
  font-weight: 500;
}

@media (min-width: 768px) {
  .tui-page-btn {
    width: 44px !important;
    height: 44px !important;
  }
}
>>>>>>> Stashed changes
